nav {
  background: white;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  .inside-nav {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    height: 32px;
    text-align: left;
    border-bottom: 1px solid $darkgrey;
    form {
      display: inline-block;
    }
    label.ng-hide-add {
      position: absolute;
      top: 0;
      animation: .5s fadeOutLeft;
    }
    input[type=search] {
      background: transparent;
      display: inline-block;
      border: none;
    }
    .search-buttons {
      display: inline-block;
      border-bottom: 1px dotted $darkgrey;
    }
    input[name="magnifier"] {
      appearance: none;
      display: inline-block;
      background: url("../../assets/images/search.svg") center no-repeat;
      border: none;
      height: 17px;
      width: 17px;
      margin-left: 10px;
      padding: 0 10px;
    }
    #magic-line {
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 7px;
      background: $green;
    }
    a {
      margin-right: 40px;
      &:hover {
      }
      &:last-child:hover {
      }
    }
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
