footer {
  text-align: center;
  height: 190px;
  width: 100%;
  .for-bg {
    position: fixed;
    bottom: 0;
    z-index: -1000;
    height: 190px;
    width: 100%;
    background: url("../../assets/images/bg.jpg");
  }
  button[name=jump] {
    appearance: none;
    outline: none;
    border: none;
    display: inline-block;
    width: 48px;
    height: 39px;
    margin-top: -19px;
    background: url('../../assets/images/jump.svg');
  }
  img {
    display: inline-block;
    height: 50px;
  }
}
