footer {
  text-align: center;
  height: 190px;
  width: 100%;
  button[name=jump] {
    appearance: none;
    outline: none;
    border: none;
    display: inline-block;
    width: 48px;
    height: 39px;
    margin-top: -19px;
    background: url('../../assets/images/jump.svg');
  }
  img {
    display: inline-block;
    height: 50px;
  }
}
