<section class="social">
  <img class="logo" src="../../assets/images/facetfiction1.svg" alt="Logo" />
  <div class="icons">
    <a href="#" data-title="fb">
      <img src="../../assets/images/social_fb.svg" alt="facebook icon" />
    </a>
    <a href="#" data-title="tw">
      <img src="../../assets/images/social_tw.svg" alt="twitter icon" />
    </a>
    <a href="#" data-title="gr">
      <img src="../../assets/images/social_gr.svg" alt="google icon" />
    </a>
    <a href="#" data-title="mail">
      <img src="../../assets/images/social_mail.svg" alt="mail icon" />
    </a>
    <a href="#" data-title="rss">
      <img src="../../assets/images/social_rss.svg" alt="rss icon" />
    </a>
  </div>
</section>
